### Import modules

In [1]:
import pandas as pd
import requests

### Get data from wikipedia

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature'

data = pd.concat(pd.read_html(requests.get(url).content)).reset_index(drop = True)

### Clean and organize data

In [50]:
df = (data
          .melt(id_vars = ['Country', 'City'], value_vars = ['Jan', 'Feb', 'Mar', 'Apr',
                                                             'May', 'Jun', 'Jul', 'Aug',
                                                             'Sep', 'Oct', 'Nov', 'Dec'],
                var_name = 'Month', value_name = 'Temp_String'))

df['Temp_F'] = df.Temp_String.str.split(pat = '(', expand = True)[1].str.split(pat = ')', expand = True)[0]
df['City'] = df['City'] + ', ' + df['Country']

df = (df
          .filter(items = ['City', 'Temp_F'])
          .groupby(['City'])
          .agg(['min', 'max'])
          .reset_index()
          .droplevel(0, axis = 1))

df.columns = ['City', 'Min', 'Max']

                        City   Min   Max
0         Abha, Saudi Arabia    55    73
1       Abidjan, Ivory Coast    75    82
2               Abéché, Chad  78.6  91.9
3               Accra, Ghana  75.7  81.9
4      Addis Ababa, Ethiopia    59    64
..                       ...   ...   ...
409          Zagreb, Croatia  32.5  69.1
410  Zanzibar City, Tanzania    75    82
411      Zürich, Switzerland  32.5  65.5
412            Ürümqi, China  10.2  75.0
413            İzmir, Turkey  48.0  82.4

[414 rows x 3 columns]

In [ ]:
print(df)